        <ul class="navbar-nav navbar-right">
          <li class="dropdown">
            <a href="{{ url_for('core.signup.web') }}" class="btn btn-primary btn-block btn-icon-split">{{ __('Sign up') }}</a>
          </li>
          <li class="dropdown">
            <a href="{{ url_for('core.signin.web') }}" class="btn btn-primary btn-block btn-icon-split">{{ __('Sign in') }}</a>
          </li>
        </ul>
