{% if json_schema_output is defined %}

<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script src="https://unpkg.com/react-jsonschema-form@latest/dist/react-jsonschema-form.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<script type="text/babel">
    const Form = JSONSchemaForm.default;
    const uiSchema = {{ json_uischema_output | raw }};
    const schema = {{ json_schema_output | raw }};
    const formData = {{ json_formdata_output | raw }};


    function onSubmit(formData) {
        {{ json_onsubmit_output | raw }}
    }


    function onChange(formData) { }


    {% if json_formdata_render_custom_array is not defined %}
    ReactDOM.render((<Form onChange={onChange} onSubmit={onSubmit} uiSchema={uiSchema} schema={schema} formData={formData}></Form>), document.getElementById("rjsf"));
    {% else %}
    const FloatingLabelWidget = (props) => {
        return (
            <input type="text" id={props.id} className="form-control underlined" value={props.value} placeholder={props.placeholder} required={props.required} onChange={(event) => props.onChange(event.target.value)} />
        );
    };

    const widgets = {
        floatingLabelWidget: FloatingLaberlWidget
    };
    {% endif %}
</script>

{% endif %}