                          <div class="form-row">
                              <div class="form-group col-md-2">
                                <label>Date and duration*</label>
                                <div class="input-group">
                                  <input type="text" class="form-control" id="worklog_date" required placeholder="____-__-__" value="{{ "now" | date("Y/m/d") }}">
                                  <input type="text" class="form-control" id="worklog_time" required placeholder="__:__">
                              </div>
                            </div>
                              <div class="form-group col-md-2">
                                <label>Summary*</label>
                                <input type="text" class="form-control" id="worklog_summary" required>
                              </div>
                              <div class="form-group col-md-1">
                                <label>Team*</label><br />
                                <select class="form-control select2" multiple="" id="worklog_team" required>
                                  <option value="1">A Option</option>
                                  <option value="2">B Option</option>
                                  <option value="3">C Option</option>
                                </select>
                              </div>
                              <div class="form-group col-md-1">
                                <label>Location</label>
                                <input type="text" class="form-control" id="worklog_location" required>
                              </div>                         
                              <div class="form-group col-md-1">
                                <label>Finished at</label>
                                <div class="input-group">
                                  <input type="text" class="form-control" id="worklog_finished" required placeholder="__:__">
                                </div>
                              </div>    
                              <div class="form-group col-md-2">
                                <label>Description*</label>
                                <textarea class="form-control" name="description" rows="1" required></textarea>
                              </div>

                              <div class="form-group col-md-1">
                                <label>Attachments</label>
                                <a href="" class="btn btn-lg btn-primary icon-left btn-icon"><i class="fas fa-paperclip"></i> Files</a>
                              </div>

                              <div class="form-group">
                                <label class="form-label">Private</label>
                                <div class="selectgroup selectgroup-pills">
                                  <label class="selectgroup-item">
                                    <input type="checkbox" name="private" value="private" class="selectgroup-input"  disabled="true">
                                    <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-lock"></i></span>
                                  </label>
                                </div>
                              </div>

                              <div class="form-group col-md-1">
                                <label>&nbsp;</label><br>
                                <button type="submit" class="btn btn-primary btn-lg">{{ __('Save') }}</button>
                              </div>
                          </div>  