{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
<div class="section-header">
  <h1>{{ __('Social module - FB - response') }}</h1>
</div>

<div class="section-body">
    tohle asi nebude vubec potreba
</div>
{% endblock %}