.DS_Store
.idea
.tmp
composer.lock
coverage
config/settings.php
public/assets/node_modules/**
public/assets/cache/**
phinx.yml
private/api/**
private/cache/**
private/crypto/**
private/data/**
private/log/**
private/backups/**
vendor
yarn.lock
yarn-error.log
*~

