{% extends '/Core/Views/templates/default.twig' %}

{% block content %}

<div class="section-header">
  <h1>{{ __('vystup spojeni s googlem') }}</h1>
</div>

<div class="section-body">
  <div class="row">
    <div class="col-12">
        {{ vystup }}
    </div>
  </div>
</div>


{% endblock %}

