{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
          <div class="section-header">

            <h1>42</h1>
          </div>

          <div class="section-body">
            {{ __('The meaning of life the universe and everything.') }}
            
            <div id="rjsf"></div>
            {% include '/Core/Views/templates/partials/flash.twig' %}
            
          </div>
{% endblock %}


